<br>
<br>
<h4 style="padding : 22px; text-align: center;">
  Maintenance    
</h4>

<table class="table table-hover">
  <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID_VOITURE</th>
            <th scope="col">LABEL</th>
            <th scope="col">DATE_APPLICATION</th>
            <th scope="col">KM_APPLICATION</th>
            <th scope="col">MONTANT</th>
            <th scope="col">USER_MAJ</th>
  

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

     
          </tr>
 
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            
          </tr>
          
        </tbody>
      </table>
      
   
