
<h4 style="padding : 22px; text-align: center;">  Reservation :

</h4>
<table class="table caption-top">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ID CLIENT</th>
      <th scope="col">ID CAR</th>

      <th scope="col">NBR JRS</th>
      <th scope="col">Remise</th>
      <th scope="col">TOTAL</th>
      <th scope="col">DATE_RES</th>
      <th scope="col">KM DEBUT</th>
      
      <th scope="col">KM FIN</th>
      <th scope="col">PRIX_KM</th>
      <th scope="col">DATE APPLICATION</th>
      <th scope="col">USER MAJ</th>
      <th scope="col">STATUS</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>     
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>     
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>     
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>