
<h4 style="padding : 22px; text-align: center;">  Reservation :

</h4>
<table class="table caption-top">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">MARQUE</th>
      <th scope="col">MODEL</th>

      <th scope="col">TARIF HIVER</th>
      <th scope="col">TARIF ETE</th>
      <th scope="col">DATE APPLICATION_HIVER</th>
      <th scope="col">DATE APPLICATION ETE</th>
      <th scope="col">MATRICULE</th>
      
      <th scope="col">DATE CREATION</th>
      <th scope="col">DATE MAJ</th>
      <th scope="col">USER MAJ</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>     
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>     
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>     
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>

    </tr>
  </tbody>
</table>