<div class="card">
    <h5 class="card-header">Welcome </h5>
    <div class="card-body">
      <h5 class="card-title">Bonjour Monsieur Ivan IV Vassiliévitch - Dernier connexion 13 Septembre 2023 à 15h20</h5>
      <p class="card-text">Hello you have work to do .</p>
    </div>
  </div>

<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://png.pngtree.com/png-clipart/20230825/original/pngtree-family-choosing-new-car-in-automobile-store-picture-image_8709146.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://img.freepik.com/free-vector/car-rental-concept-illustration_114360-9267.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reservations</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://di-uploads-pod5.dealerinspire.com/autocitysd/uploads/2017/12/regular-maintenance-for-your-car-1024x576.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maintenances</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>